services:
  esb-consul:
    image: {{ consul_image }}
    container_name: {{ consul_container_name }}
    command: >
      agent -server -bootstrap-expect={{ consul_bootstrap_expect }} 
{%- if consul_ui_enabled %} 
      -ui 
{% endif %}
      -client=0.0.0.0 -datacenter={{ consul_datacenter }} -node={{ consul_node_name }}
    ports:
      - "{{ consul_dns_port }}:{{ consul_dns_port }}/tcp"
      - "{{ consul_dns_port }}:{{ consul_dns_port }}/udp"
      - "{{ consul_api_port }}:{{ consul_api_port }}"
    networks:
      - {{ network_name }}
    volumes:
      - {{consul_volume}}:/consul/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

networks:
  {{ network_name }}:
    external: true
    name: {{ network_name }}

volumes:
  {{consul_volume}}: