war
.java
updates
userContent
users
.lastStarted
copy_reference_file.log
hudson.model.UpdateCenter.xml
jenkins.telemetry.Correlator.xml
nodeMonitors.xml
secret.key
secret.key.not-so-secret
secrets
plugins
jenkins.install.InstallUtil.installingPlugins
logs
caches
.groovy
fingerprints
jobs/**/nextBuildNumber
jobs/**/builds
jobs/**/workspace*
workspace
.owner
credentials.xml
hudson.plugins.git.GitTool.xml
jenkins.model.JenkinsLocationConfiguration.xml
org.jenkinsci.plugins.workflow.flow.FlowExecutionList.xml
queue.xml.bak
queue.xml
identity.key.enc
jenkins.install.InstallUtil.lastExecVersion
jenkins.install.UpgradeWizard.state
jenkins.security.apitoken.ApiTokenPropertyConfiguration.xml
config.xml
!jobs/**/config.xml