spring:
  rabbitmq: 
    host: {{rabbitmq_host}}
    port: {{rabbitmq_port}}
    username: {{rabbitmq_username}}
    password: {{rabbitmq_password}}
  
  mail:
    host: {{smtp_host}}
    port: {{smtp_port}}
    username: {{smtp_login}}
    password: {{smtp_token}}
    protocol: {{smtp_protocol}}
    from: {{smtp_from}}

management:
  endpoints:
    web:
      exposure:
        include: {{metrics_exposed}}
      base-path: {{base_metrics_path}}
  endpoint:
    health:
      show-details: {{metrics_show_details}}
      show-components: {{metrics_show_components}}

logging:
  level:
    root: {{log_level}}

rabbitmq:
  rabbit_messaging_queue_email: {{rabbit_messaging_queue_email}}

thymeleaf:
  prefix: classpath:/templates/
  suffix: .html
  mode: HTML
  encoding: UTF-8
  cache: false