---
  - name: Deploy keycloak esb
    hosts: deploy_esb_keycloak
    tasks: 
      - name: Give access to socket for install user
        file: 
          path: "/var/run/docker.sock"
          state: file 
          owner: "{{ansible_user}}"
        become: yes
      
      - name: Down app 
        shell: "cd {{base_path}}/docker/ && docker compose -f esb_keycloak.yml down"
        ignore_errors: yes
        
      - name: Copy docker template 
        template: 
          src: "/workspace/templates/esb/keycloak.j2"
          dest: "{{base_path}}/docker/esb_keycloak.yml"
      
      - name: Pull image 
        shell: "cd {{base_path}}/docker/ && docker compose -f esb_keycloak.yml pull"
      

      - name: Start keycloak
        shell: |
          cd {{base_path}}/docker/ && \
          KEYCLOAK_ADMIN={{keykloak_admin_user}} \
          KEYCLOAK_ADMIN_PASSWORD={{keykloak_admin_password}} \
          KEYCLOAK_DB_USERNAME={{postgresql_admin_user}} \
          KEYCLOAK_DB_PASSWORD={{postgresql_admin_password}} \
          docker compose -f esb_keycloak.yml up -d