---
  - name: Deploy consul esb
    hosts: deploy_esb_consul
    tasks: 
      - name: Give access to socket for install user
        file: 
          path: "/var/run/docker.sock"
          state: file 
          owner: "{{ansible_user}}"
        become: yes
      
      - name: Down app 
        shell: "cd {{base_path}}/docker/ && docker compose -f esb_consul.yml down"
        ignore_errors: yes
        
      - name: Copy docker template 
        template: 
          src: "/workspace/templates/esb/consul.j2"
          dest: "{{base_path}}/docker/esb_consul.yml"
      
      - name: Pull image 
        shell: "cd {{base_path}}/docker/ && docker compose -f esb_consul.yml pull"
      

      - name: Start consul
        shell: |
          cd {{base_path}}/docker/ && \
          docker compose -f esb_consul.yml up -d