---    
  - name: Deploy esb integration
    hosts: deploy_esb_integration
    tasks: 
      - name: Copy jar file
        synchronize:
          src: "/workspace/artifacts/backend_iskr-integration-bus.jar"
          dest: "{{base_path}}/docker/apps/"
          mode: push
          use_ssh_args: yes
        delegate_to: localhost

      - name: Give access to socket for install user
        file: 
          path: "/var/run/docker.sock"
          state: file 
          owner: "{{ansible_user}}"
        become: yes

      - name: Stop integration  
        shell: "cd {{base_path}}/docker/ && docker compose -f back_integration.yml down"
        ignore_errors: yes

      - name: Copy docker build template 
        template: 
          src: "/workspace/templates/esb/build_integration.j2"
          dest: "{{base_path}}/docker/build/Dockerfile-Integration"

      - name: Copy docker template 
        template: 
          src: "/workspace/templates/esb/integration.j2"
          dest: "{{base_path}}/docker/back_integration.yml"

      - name: Build images image 
        shell: |
          cd {{base_path}}/docker/ && \
          PG_USER={{pg_user}} \
          PG_PASSWORD={{pg_password}} \
          SSO_USERNAME={{sso_username}} \
          SSO_PASSWORD={{sso_password}} \
          SSO_REALM={{sso_realm}} \
          SSO_SECRET={{sso_secret}} \
          docker compose -f back_integration.yml build
      
      - name: Start images backend 
        shell: |
          cd {{base_path}}/docker/ && \
          PG_USER={{pg_user}} \
          PG_PASSWORD={{pg_password}} \
          SSO_USERNAME={{sso_username}} \
          SSO_PASSWORD={{sso_password}} \
          SSO_REALM={{sso_realm}} \
          SSO_SECRET={{sso_secret}} \
          docker compose -f back_integration.yml up -d