---
  - name: Deploy consul configuration
    hosts: deploy_esb_configuration
    tasks: 
      - name: Give access to socket for install user
        file: 
          path: "/var/run/docker.sock"
          state: file 
          owner: "{{ansible_user}}"
        become: yes
      
      - name: Ensure that "configuration" dir exists
        file:
          path: "{{base_path}}/configuration"
          state: directory 
      
      - name: Copy accounts configuration
        template: 
           src: "/workspace/templates/esb/configuration/accounts.j2"
           dest: "{{base_path}}/configuration/accounts.yml"

      - name: Load accounts configuration 
        shell: |
          cd {{base_path}}/configuration && curl \
          --request PUT \
          --data-binary @accounts.yml \
          http://localhost:{{consul_port}}/v1/kv/config/AccountsBackend/data
      
      - name: Copy rabbit definitions.json
        copy:
          src: "/workspace/templates/confs/definitions.json"
          dest: "{{base_path}}/configuration/rabbit_definitions.json"
      
      - name: Load rabbit definitions
        shell: |
          cd {{base_path}}/configuration && \
          curl -u {{rabbit_admin_user}}:{{rabbit_admin_password}} -X POST -H "Content-Type: application/json" \
          http://localhost:{{rabbit_ui_port}}/api/definitions \
          -d @rabbit_definitions.json

      
      - name: Copy integration configuration
        template: 
           src: "/workspace/templates/esb/configuration/integration.j2"
           dest: "{{base_path}}/configuration/integration.yml"

      - name: Load integration configuration 
        shell: |
          cd {{base_path}}/configuration && curl \
          --request PUT \
          --data-binary @integration.yml \
          http://localhost:{{consul_port}}/v1/kv/config/IntegrationBus/data
      
      - name: Copy keycloak realm-export.json
        copy:
          src: "/workspace/templates/confs/realm-export.json"
          dest: "{{base_path}}/configuration/realm-export.json"
      
      - name: Copy realm-export to keycloak container
        shell: |
          cd {{base_path}}/configuration && \
          docker cp realm-export.json {{keycloak_container}}:/tmp/
      
      - name: Upload realm-export to keycloak
        shell: |
          docker exec -it {{keycloak_container}} /opt/keycloak/bin/kc.sh import \
          --file /tmp/realm-export.json

      - name: Restart keycloak
        shell: |
          docker restart {{keycloak_container}}
        
      